{
  "extends": [
    "styleguidejs/typescript"
  ],
  "rules": {
    "newline-per-chained-call": 0,
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": [
          "**/tests/**/*"
        ],
        "peerDependencies": true
      }
    ]
  }
}